page-login {
  @media only screen and (max-width: 320px) {
    .login-input{ height: 70px;}
  }
  @media only screen and (min-width: 321px) {
    .login-input{ height: 85px;}
    }
  .main-background{
      background: url("../assets/image/main_background.png");
      background-size: 100% 100%;
      text-align: center;

      .main-logo{
        width: 52vw;
        margin: auto;
        margin-top: 10vh;
      }

      .email-password-div{
          margin-top: 8vh;
          width: 90vw;
          height: auto;
          margin-left: 5vw;
          border: 1px solid white;
          border-radius: 8px;
          background-color: rgba(158, 155, 155, 0.52);

          .login-input{
              color: white;
              font-size: 23px;
              vertical-align: middle;
              align-items: center;
              display: flex;
              justify-content: center;
              padding:10px;
              border-bottom: 1px solid white;

              .text-input
              {
                text-align: center;
                color: white;
              }
          }
      }
      .forgot-div{
        color: white;
        background-color: transparent;
        padding-top: 15px;
        font-style: italic;
        font-size: 4vw;
      }
      .loginDiv
      {
        width: 100%;
        height: auto;
        margin-top: 16vw;

        .login-btn{
          width: 80vw;
          height: 70px;
          left: 10vw;
          font-size: 25px;
          text-transform: capitalize;
          font-weight: 400;
        }
      }

  }
}
