<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title><div style="color:white;">{{'NEW PROFILE' | translate}}</div></ion-title>

    <ion-buttons end>
      <button ion-button class="save-btn" (click)="createProfile();">{{'Save' | translate}}
      </button>
    </ion-buttons>

  </ion-navbar>
</ion-header>

<ion-content>
    <div class="avatar-div"></div>
    <img [src]="imagePath" *ngIf="imagePath" class="avatar-icon"/>
    <img src="assets/image/default_avatar.png" *ngIf="!imagePath" class="avatar-icon"/>
    <img src="assets/image/btn_add_image.png" class="avatar-plus-icon" (click)="getPicture();"/>

    <ion-list>

      <ion-item>
        <ion-label color="primary" floating>{{'First Name' | translate}}</ion-label>
        <ion-input type="text" value="" [(ngModel)]="profile_info.first_name"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label color="primary" floating>{{'Last Name' | translate}}</ion-label>
        <ion-input type="text" value="" [(ngModel)]="profile_info.last_name"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label color="primary" floating>{{'Gender' | translate}}</ion-label>
        <ion-select [(ngModel)]="profile_info.gender">
          <ion-option value="female">{{'Female' | translate}}</ion-option>
          <ion-option value="male">{{'Male' | translate}}</ion-option>
        </ion-select>
      </ion-item>

      <ion-item>
        <ion-label color="primary" floating>{{'Birthday' | translate}}</ion-label>
        <ion-input type="date" value="" [(ngModel)]="profile_info.birth_date"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label color="primary" floating>{{'City' | translate}}</ion-label>
        <ion-input type="text" value="" [(ngModel)]="profile_info.city"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label color="primary" floating>{{'State' | translate}}</ion-label>
        <ion-input type="text" value="" [(ngModel)]="profile_info.state"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label color="primary" floating>{{'Zip' | translate}}</ion-label>
        <ion-input type="text" value="" [(ngModel)]="profile_info.zip"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label color="primary" floating>{{'Country' | translate}}</ion-label>
        <ion-select [(ngModel)]="profile_info.country">
          <ion-option *ngFor="let country of countries" [value]="country.code">{{country.name}}</ion-option>
        </ion-select>
      </ion-item>
    </ion-list>
</ion-content>
