<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu" style="color:white;"></ion-icon>
    </button>
    <ion-title><div style="color:white;">{{'Settings' | translate}}</div></ion-title>
  </ion-navbar>
</ion-header>

<ion-content>

    <button ion-button full  color="light" class="setting_btn" (click)="goPasscodePage()">

      <p class="title">{{'Passcode Lock' | translate}}</p>
      <p *ngIf="!passValue" style="margin-right: 15px;">{{'Off' | translate}}</p>
      <p *ngIf="passValue" style="margin-right: 15px;">{{'On' | translate}}</p>

      <ion-icon name="ios-arrow-forward-outline" style="margin-right: -5px;"></ion-icon>
    </button>
    <button ion-button full  color="light" class="setting_btn" (click)="goUpgradeAccountPage()">
      <p class="title" >{{email}}</p>
      <ion-icon name="ios-arrow-forward-outline" class="icon"></ion-icon>
    </button>
    <button ion-button full  color="light" class="setting_btn" (click)="goBillingPage()">
      <p class="title">{{'Billing' | translate}}</p>
      <ion-icon name="ios-arrow-forward-outline" style="margin-right: -5px;"></ion-icon>
    </button>
  <button class="logout-btn" ion-button outline round (click)="logOut();">{{'Log Out' | translate}}</button>
</ion-content>
