<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title class="title-custom"><div class="title-btn">VITAL CONDITIONS</div></ion-title>

    <ion-buttons end>
      <button *ngIf="!vitalData.id" ion-button style="color:white; background-color:inherit;" (click)="vitalDataCreate();">
        Save
      </button>
      <button *ngIf="vitalData.id" ion-button style="color:white; background-color:inherit;" (click)="vitalDataUpdate();">
        Update
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content class="bg2">
  <ion-list class="vital_con_input">
    <ion-item class="vital_con_item">
      <ion-label floating style="color: #008ecf">Condition</ion-label>
      <ion-input type="text" [(ngModel)]="vitalData.name" placeholder="Condition"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label floating style="color: #008ecf">Notes</ion-label>
      <ion-input type="text" [(ngModel)]="vitalData.notes" placeholder="Notes"></ion-input>
    </ion-item>

    <div class="toggle-part">
      <ion-label class="toggle-name">Visible on public profile? </ion-label>
      <ion-toggle [(ngModel)]="toggleFlag.toggleFlag" class="toggle-btn" (ionChange)="notify()" checked="false"></ion-toggle>
    </div>

    <div class="vital-delete">
      <button *ngIf="vitalData.id" ion-button outline round (click)="vitalDataDelete();">Delete</button>
    </div>
  </ion-list>
</ion-content>
