<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title class="title-custom"><div class="title-btn">{{'Physicians' | translate}}</div></ion-title>
    <ion-buttons end>
      <button *ngIf="!physicianData.id" ion-button style="color:white; background-color:inherit;" (click)="physicianDataCreate();">
        {{'Save' | translate}}
      </button>
      <button *ngIf="physicianData.id" ion-button style="color:white; background-color:inherit;" (click)="physicianDataUpdate();">
        {{'Update' | translate}}
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content class="bg2">
  <div style="margin-top: 20px;"></div>
  <ion-list>
    <ion-item class="edit-pro-border">
      <ion-label stacked class="edit_label">{{'Name' | translate}}</ion-label>
      <ion-input [(ngModel)]="physicianData.name" type="text" class="edit_input" placeholder=""></ion-input>
    </ion-item>

    <ion-item class="edit-pro-border">
      <ion-label stacked class="edit_label">{{'Business' | translate}}</ion-label>
      <ion-input [(ngModel)]="physicianData.business_name" type="text" class="edit_input" placeholder=""></ion-input>
    </ion-item>

    <ion-item class="edit-pro-border">
      <ion-label stacked class="edit_label">{{'Title' | translate}}</ion-label>
      <ion-input [(ngModel)]="physicianData.title" type="text" class="edit_input" placeholder=""></ion-input>
    </ion-item>

    <ion-item class="edit-pro-border">
      <ion-label stacked class="edit_label">{{'Address' | translate}}</ion-label>
      <ion-input [(ngModel)]="physicianData.address" type="text" class="edit_input" placeholder=""></ion-input>
    </ion-item>

    <ion-item class="edit-pro-border">
      <ion-label stacked class="edit_label">{{'City' | translate}}</ion-label>
      <ion-input [(ngModel)]="physicianData.city" type="text" class="edit_input" placeholder=""></ion-input>
    </ion-item>

    <ion-item class="edit-pro-border">
      <ion-label stacked class="edit_label">{{'State' | translate}}</ion-label>
      <ion-input [(ngModel)]="physicianData.state" type="text" class="edit_input" placeholder=""></ion-input>
    </ion-item>

    <ion-item class="edit-pro-border">
      <ion-label stacked class="edit_label">{{'Country' | translate}}</ion-label>
      <!-- <ion-input [(ngModel)]="physicianData.country" type="text" class="edit_input" placeholder="Enter Country"></ion-input> -->
      <ion-select [(ngModel)]="physicianData.country" class="edit-select">
        <ion-option *ngFor="let country of countries" [value]="country.code">{{country.name}}</ion-option>
      </ion-select>
    </ion-item>

    <ion-item class="edit-pro-border">
      <ion-label stacked class="edit_label">{{'Phone Number' | translate}}</ion-label>
      <ion-input [(ngModel)]="physicianData.phone_number" type="tel" class="edit_input" placeholder=""></ion-input>
    </ion-item>

    <ion-item class="edit-pro-border">
      <ion-label stacked class="edit_label">{{'Zip' | translate}}</ion-label>
      <ion-input [(ngModel)]="physicianData.zip_code" type="text" class="edit_input" placeholder=""></ion-input>
    </ion-item>

    <div class="toggle-part">
      <ion-label class="toggle-name">{{'Visible on public profile' | translate}}</ion-label>
      <ion-toggle [(ngModel)]="toggleFlag.toggleFlag" class="toggle-btn" (ionChange)="notify()" checked="false"></ion-toggle>
    </div>

    <div class="emergency-delete">
      <button  *ngIf="physicianData.id" ion-button outline round (click)="physicianDataDelete();">{{'Delete' | translate}}</button>
    </div>

  </ion-list>
</ion-content>
