<ion-header>
  <ion-navbar>
    <button ion-button class="back_profile" (click)="goBack();">
      <ion-icon name="ios-arrow-back">
        <span class="all_back">{{'All Profile' | translate}}</span>
      </ion-icon>
    </button>
    <ion-title><img src="assets/image/sidemenu_logo.png" style="height:30px;"/></ion-title>
    <ion-buttons end>
      <button *ngIf="profile.data.subscription_type=='Premium'" ion-button style="color:white; background-color:inherit;" (click)="gotoShareProfile();">
        {{'Share' | translate}}
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<!-- Personal Profile -->
<ion-content style="background-color:rgb(241, 241, 241);">
    <div class="user-info-div">
        <div class="username-text">{{personalData.first_name}} {{personalData.last_name}}</div>
        <div class="separator"></div>
        <div class="user-description-text">{{age}} years old {{personalData.gender}} from {{profileData.city}}, {{profileData.state}}</div>
        <img [src]="profile.data.person.image_url.thumb" class="avatar-icon" onError="this.src='/assets/image/default_avatar.png';"/>
    </div>

<!-- Vital Medical Coditions Data -->

  <ion-list class="no-padding">
    <ion-item-group>

      <ion-item-divider color="light" sticky>
        <div class="section-header">
          <ion-icon name="ios-warning-outline">&nbsp;{{'Vital Medical Conditions' | translate}}</ion-icon>
        </div>
        <div class="updated-date">
          <p *ngIf="vitalUpdated" style="color:white;">{{'Last updated' | translate}} {{ vitalUpdated | date: 'MM/dd/yyyy' }}</p>
        </div>
      </ion-item-divider>

      <div  center *ngFor="let vitalItem of vitalData">
        <div class="border"></div>
        <ion-row class="vital-content" center>
            <ion-col><div class="condition-div">{{'Condition' | translate}}:</div></ion-col>
            <ion-col><div class="condition-div">{{'Notes' | translate}}:</div></ion-col>
        </ion-row>
        <ion-row class="data-font" center>
            <ion-col><div class="condition-div">{{vitalItem.name}}</div></ion-col>
            <ion-col><div class="condition-div">{{vitalItem.notes}}</div></ion-col>
        </ion-row>
      </div>
      <ion-row *ngIf="!vitalUpdated" style="padding:15px;">
          <ion-col><div class="condition-div">{{'No Known' | translate}} {{'Vital Medical Conditions' | translate}}</div></ion-col>
      </ion-row>
    </ion-item-group>

<!-- Personal Updated -->
    <ion-item-group>
      <ion-item-divider color="light" sticky>
        <div class="section-header">
          <ion-icon name="ios-contact-outline">&nbsp;{{'Personal Information' | translate}}</ion-icon>
        </div>
         <div class="updated-date">
           <p *ngIf="personalUpdated" style="color:white;">{{'Last updated' | translate}} {{ personalUpdated | date: 'MM/dd/yyyy' }}</p>
         </div>
      </ion-item-divider>

      <ion-row class="vital-content" center>
          <ion-col><div class="condition-div">{{'Name' | translate}}:</div></ion-col>
          <ion-col><div class="condition-div">{{'PHONE' | translate}}:</div></ion-col>
      </ion-row>
      <ion-row center class="data-font">
          <ion-col><div class="condition-div">{{personalData.first_name}}</div></ion-col>
          <ion-col>
            <div *ngIf="personalData.phone_number" class="condition-div">{{personalData.phone_number}}</div>
            <div *ngIf="!personalData.phone_number" class="condition-div">-</div>
          </ion-col>
      </ion-row>
      <ion-row class="vital-content" center>
          <ion-col><div class="condition-div">{{'BIRTHDATE' | translate}}:</div></ion-col>
          <ion-col><div class="condition-div">{{'GENDER' | translate}}:</div></ion-col>
      </ion-row>
      <ion-row center class="data-font">
          <ion-col><div class="condition-div">{{personalData.birth_date}}</div></ion-col>
          <ion-col><div class="condition-div">{{personalData.gender}}</div></ion-col>
      </ion-row>
      <ion-row class="vital-content" center>
          <ion-col><div class="condition-div">{{'WEIGHT' | translate}}:</div></ion-col>
          <ion-col><div class="condition-div">{{'HEIGHT' | translate}}:</div></ion-col>
      </ion-row>
      <ion-row center class="data-font">
          <ion-col>
            <div *ngIf="personalData.weight" class="condition-div">{{personalData.weight}}</div>
            <div *ngIf="!personalData.weight" class="condition-div">-</div>
          </ion-col>
          <ion-col>
            <div *ngIf="personalData.height" class="condition-div">{{personalData.height}}</div>
            <div *ngIf="!personalData.height" class="condition-div">-</div>
          </ion-col>
      </ion-row>
      <ion-row class="vital-content" center>
          <ion-col><div class="condition-div">{{'HAIR COLOR' | translate}}</div></ion-col>
          <ion-col><div class="condition-div">{{'EYE COLOR' | translate}}</div></ion-col>
      </ion-row>
      <ion-row center class="data-font">
          <ion-col>
            <div *ngIf="personalData.hair" class="condition-div">{{personalData.hair}}</div>
            <div *ngIf="!personalData.hair" class="condition-div">-</div>
          </ion-col>
          <ion-col>
            <div *ngIf="personalData.eye_color" class="condition-div">{{personalData.eye_color}}</div>
            <div *ngIf="!personalData.eye_color" class="condition-div">-</div>
          </ion-col>
      </ion-row>
      <ion-row class="vital-content" center>
          <ion-col><div class="condition-div">{{'BLOOD TYPE' | translate}}:</div></ion-col>
          <ion-col><div class="condition-div">{{'ORGAN DONOR' | translate}}:</div></ion-col>
      </ion-row>
      <ion-row center class="data-font">
          <ion-col>
            <div *ngIf="personalData.blood_type" class="condition-div">{{personalData.blood_type}}</div>
            <div *ngIf="!personalData.blood_type" class="condition-div">-</div>
          </ion-col>
          <ion-col><div class="condition-div">{{donor}}</div></ion-col>
      </ion-row>
      <ion-row *ngIf="!personalUpdated" style="padding:15px;">
          <ion-col><div class="condition-div">{{'No Known' | translate}} {{'Personal Information' | translate}}</div></ion-col>
      </ion-row>
    </ion-item-group>


<!-- Emergency Contacts -->
    <ion-item-group>
      <ion-item-divider color="light" sticky>
        <div class="section-header">
          <ion-icon name="ios-call-outline">&nbsp;{{'Emergency Contacts' | translate}}</ion-icon>
        </div>
        <div class="updated-date">
          <p *ngIf="emergencyUpdated" style="color:white;">{{'Last updated' | translate}} {{ emergencyUpdated | date: 'MM/dd/yyyy' }}</p>
        </div>
      </ion-item-divider>

        <div *ngFor="let emergencyItem of emergencyData">
          <div class="border"></div>
          <ion-row class="vital-content" center>
              <ion-col><div class="condition-div">{{'Name' | translate}}:</div></ion-col>
              <ion-col><div class="condition-div">{{'Relationship' | translate}}:</div></ion-col>
          </ion-row>
          <ion-row center class="data-font">
              <ion-col><div class="condition-div">{{emergencyItem.name}}</div></ion-col>
              <ion-col><div class="condition-div">{{emergencyItem.relationship}}</div></ion-col>
          </ion-row>
          <ion-row class="vital-content" center>
              <ion-col><div class="condition-div">{{'Phone Number' | translate}}:</div></ion-col>
              <ion-col><div class="condition-div">{{'Alt Phone' | translate}}:</div></ion-col>
          </ion-row>
          <ion-row center class="data-font">
              <ion-col>
                <div *ngIf="emergencyItem.phone_number" class="condition-div">{{emergencyItem.phone_number}}</div>
                <div *ngIf="!emergencyItem.phone_number" class="condition-div">-</div>
              </ion-col>
              <ion-col>
                <div *ngIf="emergencyItem.alt_phone_number" class="condition-div">{{emergencyItem.alt_phone_number}}</div>
                <div *ngIf="!emergencyItem.alt_phone_number" class="condition-div">-</div>
              </ion-col>
          </ion-row>
          <ion-row class="vital-content" center>
              <ion-col><div class="condition-div">{{'Email' | translate}}:</div></ion-col>
              <ion-col><div class="condition-div"></div></ion-col>
          </ion-row>
          <ion-row class="data-font" center>
              <ion-col>
                <div *ngIf="emergencyItem.email" class="condition-div">{{emergencyItem.email}}</div>
                <div *ngIf="!emergencyItem.email" class="condition-div">-</div>
              </ion-col>
              <ion-col><div class="condition-div"></div></ion-col>
          </ion-row>

        </div>
        <ion-row *ngIf="!emergencyUpdated" style="padding:15px;">
            <ion-col><div class="condition-div">{{'No Known' | translate}} {{'Emergency Contacts' | translate}}</div></ion-col>
        </ion-row>
    </ion-item-group>


<!-- Allergies Data -->
    <ion-item-group>
        <ion-item-divider color="light" sticky>
          <div class="section-header">
            <ion-icon name="ios-eye-outline">&nbsp;{{'Allergies' | translate}}</ion-icon>
          </div>
          <div class="updated-date">
            <p *ngIf="allergyUpdated" style="color:white;">{{'Last updated' | translate}} {{ allergyUpdated | date: 'MM/dd/yyyy' }}</p>
          </div>
        </ion-item-divider>

      <div *ngFor="let allergyItem of allergyData">
        <div class="border"></div>
        <ion-row class="vital-content" center>
            <ion-col><div class="condition-div">{{'Name' | translate}}:</div></ion-col>
            <ion-col><div class="condition-div">{{'Notes' | translate}}:</div></ion-col>
        </ion-row>
        <ion-row center class="data-font">
            <ion-col><div class="condition-div">{{allergyItem.name}}</div></ion-col>
            <ion-col><div class="condition-div">{{allergyItem.notes}}</div></ion-col>
        </ion-row>

      </div>
      <ion-row *ngIf="!allergyUpdated" style="padding:15px;">
          <ion-col><div class="condition-div">{{'No Known' | translate}} {{'Allergies' | translate}}</div></ion-col>
      </ion-row>
    </ion-item-group>


<!-- Medication Data -->

    <ion-item-group>
      <ion-item-divider color="light" sticky>
        <div class="section-header">
          <ion-icon name="ios-heart-outline">&nbsp;{{'Medications' | translate}}</ion-icon>
        </div>
        <div class="updated-date">
          <p *ngIf="medicationUpdated" style="color:white;">{{'Last updated' | translate}} {{ medicationUpdated | date: 'MM/dd/yyyy' }}</p>
        </div>
      </ion-item-divider>

      <div *ngFor="let medicationItem of medicationData">
        <div class="border"></div>
        <ion-row class="vital-content" center>
            <ion-col><div class="condition-div">{{'Name' | translate}}:</div></ion-col>
            <ion-col><div class="condition-div">{{'Notes' | translate}}:</div></ion-col>
        </ion-row>
        <ion-row center class="data-font">
            <ion-col><div class="condition-div">{{medicationItem.name}}</div></ion-col>
            <ion-col><div class="condition-div">{{medicationItem.notes}}</div></ion-col>
        </ion-row>
        <ion-row class="vital-content" center>
            <ion-col><div class="condition-div">{{'Dosage' | translate}}:</div></ion-col>
            <ion-col><div class="condition-div">{{'Frequency' | translate}}:</div></ion-col>
        </ion-row>
        <ion-row center class="data-font">
            <ion-col>
              <div *ngIf="medicationItem.dosage" class="condition-div">{{medicationItem.dosage}}</div>
              <div *ngIf="!medicationItem.dosage" class="condition-div">-</div>
            </ion-col>
            <ion-col>
              <div *ngIf="medicationItem.frequency" class="condition-div">{{medicationItem.frequency}}</div>
              <div *ngIf="!medicationItem.frequency" class="condition-div">-</div>
            </ion-col>
        </ion-row>

      </div>
      <ion-row *ngIf="!medicationUpdated" style="padding:15px;">
          <ion-col><div class="condition-div">{{'No Known' | translate}}  {{'Medications' | translate}}</div></ion-col>
      </ion-row>
    </ion-item-group>


<!-- Physicians -->
    <ion-item-group>
      <ion-item-divider color="light" sticky>
        <div class="section-header">
          <ion-icon name="ios-medkit-outline">&nbsp;{{'Physicians' | translate}}</ion-icon>
        </div>
        <div class="updated-date">
          <p *ngIf="physicianUpdated" style="color:white;">{{'Last updated' | translate}} {{ physicianUpdated | date: 'MM/dd/yyyy' }}</p>
        </div>
      </ion-item-divider>

      <div *ngFor="let physicianItem of physicianData">
        <div class="border"></div>
        <ion-row class="vital-content" center>
            <ion-col><div class="condition-div">{{'Name' | translate}}:</div></ion-col>
            <ion-col><div class="condition-div">{{'Title' | translate}}:</div></ion-col>
        </ion-row>
        <ion-row center class="data-font">
            <ion-col>
              <div *ngIf="physicianItem.name" class="condition-div">{{physicianItem.name}}</div>
              <div *ngIf="!physicianItem.name" class="condition-div">-</div>
            </ion-col>
            <ion-col>
              <div *ngIf="physicianItem.title" class="condition-div">{{physicianItem.title}}</div>
              <div *ngIf="!physicianItem.title" class="condition-div">-</div>
            </ion-col>
        </ion-row>
        <ion-row class="vital-content" center>
            <ion-col><div class="condition-div">{{'Business' | translate}}:</div></ion-col>
            <ion-col><div class="condition-div">{{'Address' | translate}}:</div></ion-col>
        </ion-row>
        <ion-row center class="data-font">
            <ion-col>
              <div *ngIf="physicianItem.business_name" class="condition-div">{{physicianItem.business_name}}</div>
              <div *ngIf="!physicianItem.business_name" class="condition-div">-</div>
            </ion-col>
            <ion-col>
              <div *ngIf="physicianItem.address" class="condition-div">{{physicianItem.address}}</div>
              <div *ngIf="!physicianItem.address" class="condition-div">-</div>
            </ion-col>
        </ion-row>
        <ion-row class="vital-content" center>
            <ion-col><div class="condition-div">{{'State' | translate}}:</div></ion-col>
            <ion-col><div class="condition-div">{{'Phone' | translate}}:</div></ion-col>
        </ion-row>
        <ion-row center class="data-font">
            <ion-col>
              <div *ngIf="physicianItem.state" class="condition-div">{{physicianItem.state}}</div>
              <div *ngIf="!physicianItem.state" class="condition-div">-</div>
            </ion-col>
            <ion-col>
              <div *ngIf="physicianItem.phone_number" class="condition-div">{{physicianItem.phone_number}}</div>
              <div *ngIf="!physicianItem.phone_number" class="condition-div">-</div>
            </ion-col>
        </ion-row>
        <ion-row class="vital-content" center>
            <ion-col><div class="condition-div">{{'Zip Code' | translate}}:</div></ion-col>
            <ion-col><div class="condition-div">{{'Country' | translate}}:</div></ion-col>
        </ion-row>
        <ion-row center class="data-font">
            <ion-col>
              <div *ngIf="physicianItem.zip_code" class="condition-div">{{physicianItem.zip_code}}</div>
              <div *ngIf="!physicianItem.zip_code" class="condition-div">-</div>
            </ion-col>
            <ion-col>
              <div *ngIf="physicianItem.country_name" class="condition-div">{{physicianItem.country_name}}</div>
              <div *ngIf="!physicianItem.country_name" class="condition-div">-</div>
            </ion-col>
        </ion-row>

      </div>
      <ion-row *ngIf="!physicianUpdated" style="padding:15px;">
          <ion-col><div class="condition-div">{{'No Known' | translate}} {{'Physicians' | translate}}</div></ion-col>
      </ion-row>
    </ion-item-group>
<!-- Insurance -->
    <ion-item-group>
      <ion-item-divider color="light" sticky>
        <div class="section-header">
          <ion-icon name="ios-umbrella-outline">&nbsp;{{'Insurance Information' | translate}}</ion-icon>
        </div>
        <div class="updated-date">
          <p *ngIf="insuranceUpdated" style="color:white;">{{'Last updated' | translate}} {{ insuranceUpdated | date: 'MM/dd/yyyy' }}</p>
        </div>
      </ion-item-divider>

      <div center *ngFor="let insuranceItem of insuranceData">
        <div class="border"></div>
        <ion-row class="vital-content" center>
            <ion-col><div class="condition-div">{{'Provider' | translate}}:</div></ion-col>
            <ion-col><div class="condition-div">{{'ID #' | translate}}:</div></ion-col>
        </ion-row>
        <ion-row class="data-font" center>
            <ion-col><div class="condition-div">{{insuranceItem.insurance_provider}}</div></ion-col>
            <ion-col><div class="condition-div">{{insuranceItem.id_number}}</div></ion-col>
        </ion-row>
        <ion-row class="vital-content" center>
            <ion-col><div class="condition-div">{{'Group #' | translate}}:</div></ion-col>
            <ion-col><div class="condition-div">{{'Bin #' | translate}}:</div></ion-col>
        </ion-row>
        <ion-row class="data-font" center>
            <ion-col>
              <div *ngIf="insuranceItem.group_number" class="condition-div">{{insuranceItem.group_number}}</div>
              <div *ngIf="!insuranceItem.group_number" class="condition-div">-</div>
            </ion-col>
            <ion-col>
              <div *ngIf="insuranceItem.bin_number" class="condition-div">{{insuranceItem.bin_number}}</div>
              <div *ngIf="!insuranceItem.bin_number" class="condition-div">-</div>
            </ion-col>
        </ion-row>
        <ion-row class="vital-content" center>
            <ion-col><div class="condition-div">{{'Deductible' | translate}}:</div></ion-col>
            <ion-col><div class="condition-div">{{'Phone' | translate}}:</div></ion-col>
        </ion-row>
        <ion-row class="data-font" center>
            <ion-col>
              <div *ngIf="insuranceItem.deductible" class="condition-div">{{insuranceItem.deductible}}</div>
              <div *ngIf="!insuranceItem.deductible" class="condition-div">-</div>
            </ion-col>
            <ion-col>
              <div *ngIf="insuranceItem.customer_service_phone_number" class="condition-div">{{insuranceItem.customer_service_phone_number}}</div>
              <div *ngIf="!insuranceItem.customer_service_phone_number" class="condition-div">-</div>
            </ion-col>
        </ion-row>
        <ion-row class="vital-content" center>
            <ion-col><div class="condition-div">{{'Notes' | translate}}:</div></ion-col>
            <ion-col><div class="condition-div"></div></ion-col>
        </ion-row>
        <ion-row class="data-font" center>
            <ion-col>
              <div *ngIf="insuranceItem.notes" class="condition-div">{{insuranceItem.notes}}</div>
              <div *ngIf="!insuranceItem.notes" class="condition-div">-</div>
            </ion-col>
            <ion-col><div class="condition-div"></div></ion-col>
        </ion-row>

      </div>
      <ion-row *ngIf="!insuranceUpdated" style="padding:15px;">
          <ion-col><div class="condition-div">{{'No Known' | translate}} {{'Insurance Information' | translate}}</div></ion-col>
      </ion-row>
    </ion-item-group>


<!-- Other Information Data -->
    <ion-item-group>
      <ion-item-divider color="light" sticky>
        <div class="section-header">
          <ion-icon name="ios-information-circle-outline">&nbsp;{{'Ohter Information' | translate}}</ion-icon>
        </div>
        <div class="updated-date">
          <p *ngIf="otherinforUpdated" style="color:white;">{{'Last updated' | translate}} {{ otherinforUpdated | date: 'MM/dd/yyyy' }}</p>
        </div>
      </ion-item-divider>

      <div *ngFor="let otherinfoItem of otherinfoData">
        <div class="border"></div>
        <ion-row class="vital-content" center>
            <ion-col><div class="condition-div">{{'Label' | translate}}:</div></ion-col>
            <ion-col><div class="condition-div">{{'Notes' | translate}}:</div></ion-col>
        </ion-row>
        <ion-row center class="data-font">
            <ion-col><div class="condition-div">{{otherinfoItem.label}}</div></ion-col>
            <ion-col><div class="condition-div">{{otherinfoItem.notes}}</div></ion-col>
        </ion-row>

      </div>
      <ion-row *ngIf="!otherinforUpdated" style="padding:15px;">
          <ion-col><div class="condition-div">{{'No Known' | translate}} {{'Other Information' | translate}}</div></ion-col>
      </ion-row>
    </ion-item-group>

  </ion-list>

  <div style="margin-bottom: 30px;"></div>
