page-edit-emergency-add {

  .edit-pro-border
    {
      border: none !important;
      background-color: transparent;
      .item-inner
      {
        border: none !important;
        .edit_label
        {
          font-size: 15px;
          padding: 5px;
        }
        .edit_input{
            border: 1px solid #008ecf;
            border-radius: 10px;
            padding: 0 10px;
            background-color: #f3f0f0;
            color: #008ecf;
         }
      }
    }
  .emergency-delete
      button{
        width: 80%;
        left: 10%;
        color: #008ecf;
        border-color: #008ecf;
        font-size: 22px;
        height: 60px;
        top: 30px;
        margin-bottom: 30px;
    }
}
