<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title class="title-custom"><div class="title-btn">Emergency</div></ion-title>
    <ion-buttons end>
      <button ion-button (click)="gotoEditEmergencyAddPage($event,emergencyData);" class="add_btn">
        <ion-icon name="ios-add-circle-outline"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content class="bg2">
  <ion-card class="data-font" *ngFor="let emergencyData of emergencyDatas" (click)="gotoEditEmergencyAddPage($event, emergencyData);">
    <ion-item>
        <ion-row class="vital-content">
            <ion-col col-4><div class="condition-div">Name:</div></ion-col>
            <ion-col><div class="condition-div">Relationship:</div></ion-col>
        </ion-row>
        <ion-row>
            <ion-col col-4><div class="condition-div">{{emergencyData.name}}</div></ion-col>
            <ion-col><div class="condition-div">{{emergencyData.relationship}}</div></ion-col>
        </ion-row>
      </ion-item>
  </ion-card>

  <p  *ngIf="updated" class="update-txt">Last updated {{updated | date: 'MM/dd/yyyy'}}</p>
  <div *ngIf="!updated">
    <p class="update-txt" style="font-size: 20px;">Add Contact</p>
    <img src="assets/image/arrow.png" class="arrow"/>
  </div>
</ion-content>
