page-edit-physicians {
  .vital-content{
    color:gray;
    font-size:15px;
  }

  .condition-div{
    text-align: center;
  }

  .data-font{
    border-radius:8px;
    font-weight:bold;
    font-size:20px;
    position:relative;
  }
  .update-txt
  {
    text-align: center;
    color: grey;
  }

  .sheet-btn{
    font-size: 20px !important;
    position: absolute;
    right: 0;
    top: 8px;
  }
}
