<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title class="response-android"><img src="assets/image/sidemenu_logo.png" style="height:30px;"/></ion-title>
    <ion-buttons end>
      <button ion-button style="color:white; background-color:inherit;" (click)="updateAccount();">
        Save
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content class="bg2">
  <div style="margin-top: 20px;"></div>
  <ion-list>

    <ion-item class="edit-pro-border">
      <ion-label  stacked class="edit_label">Email</ion-label>
      <ion-input [(ngModel)]="new_email" type="email" class="edit_input" placeholder="Enter Email"></ion-input>
    </ion-item>

    <ion-item class="edit-pro-border">
      <ion-label stacked class="edit_label">Current Password</ion-label>
      <ion-input [(ngModel)]="current_pass" type="password" class="edit_input" placeholder="Current Password"></ion-input>
    </ion-item>

    <ion-item class="edit-pro-border new">
      <ion-label stacked class="edit_label">New Password</ion-label>
      <ion-input *ngIf="new_email != email" [(ngModel)]="new_pass" type="password" class="edit_input" placeholder="New Password" disabled="true"></ion-input>
      <ion-input *ngIf="new_email == email" [(ngModel)]="new_pass" type="password" class="edit_input" placeholder="New Password" ></ion-input>
      <ion-input *ngIf="new_email != email" [(ngModel)]="confirm_pass" type="password" class="edit_input" placeholder="Confirm Password" disabled="true"></ion-input>
      <ion-input *ngIf="new_email == email" [(ngModel)]="confirm_pass" type="password" class="edit_input" placeholder="Confirm Password"></ion-input>
    </ion-item>

  </ion-list>

  <div class="setting-delete">
    <button ion-button outline round color="danger" (click)="deleteAccount()">Delete My Account</button>
  </div>
</ion-content>
