<ion-header>
  <ion-navbar>
    <button ion-button class="back_profile" (click)="goBack();">
      <ion-icon name="ios-arrow-back">
        <span class="all_back">{{'All Profile' | translate}}</span>
      </ion-icon>
    </button>
    <ion-title><img src="assets/image/sidemenu_logo.png" style="height:30px;"/></ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
    <div class="user-info-div">
        <div class="username-text">{{profile.data.person.first_name}} {{profile.data.person.last_name}}</div>
        <div class="separator"></div>
        <div class="user-description-text">{{age}} years old {{profile.data.person.gender}} from {{address.city}}, {{address.state}}</div>

        <img [src]="profile.data.person.image_url.thumb" class="avatar-icon" onError="this.src='/assets/image/default_avatar.png';"/>
        <img src="assets/image/btn_add_image.png" class="avatar-plus-icon" (click)="getPicture();"/>
    </div>

    <ion-list>
        <ion-item *ngFor="let p of profileItems" (click)="openPage(p)">
            <ion-icon [name]="p.icon" item-left></ion-icon>
            {{p.title | translate}}
            <ion-icon name="ios-arrow-forward-outline" item-right></ion-icon>
        </ion-item>
    </ion-list>

    <p *ngIf="profile.data.subscription_type=='Normal'" style="text-align:center;">{{'Standard Account' | translate}}</p>
    <p *ngIf="profile.data.subscription_type!='Normal'" style="text-align:center;">{{'PLUS' | translate}}</p>
    <a *ngIf="profile.data.subscription_type=='Normal'" style="float: right; margin-top: -30px; margin-right: 20px;">{{'Upgrade' | translate}}</a>

    <div style="width:100%;height:40px;"></div>
</ion-content>
