<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title class="title-custom"><div class="title-btn">LINKED MYID PRODUCTS</div></ion-title>
    <ion-buttons end>
      <button ion-button class="add_btn" (click)="gotoLinkedProduct();">
        <ion-icon name="ios-add-circle-outline"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content class="bg2">
  <ion-card class="data-font" *ngFor="let link of linkData" (click)="gotoEditLinkedProducts($event, link);">
    <ion-item>
        <ion-row class="vital-content">
            <ion-col col-4><div class="condition-div">LABEL</div></ion-col>
            <ion-col><div class="condition-div">ID #</div></ion-col>
            <ion-col><div class="condition-div">PIN #</div></ion-col>
        </ion-row>
        <ion-row>
            <ion-col col-4><div class="condition-div">{{link.name}}</div></ion-col>
            <ion-col><div class="condition-div">{{link.serial}}</div></ion-col>
            <ion-col><div class="condition-div">{{link.pin}}</div></ion-col>
        </ion-row>
    </ion-item>

  </ion-card>

  <p  *ngIf="updated" class="update-txt">Last updated {{updated | date: 'MM/dd/yyyy'}}</p>
  <div *ngIf="!updated">
    <p class="update-txt" style="font-size: 20px;">Link A MyID Product</p>
    <img src="assets/image/arrow.png" class="arrow"/>
  </div>
</ion-content>
