page-edit-linked-myid {
  .title-btn{
    color: white;
    text-align: center;
  }
  .title-custom
  {
    width: 100%;
    padding: 0px;
  }
  .vital-content{
    color:gray;
    font-size:15px;
  }

  .condition-div{
    text-align: center;
  }

  .data-font{
    border-radius:8px;
    font-weight:bold;
    font-size:20px;
  }
  .update-txt
  {
    text-align: center;
    color: grey;
  }

}
